openapi: 3.1.0
info:
  title: DocuGuard API
  version: 0.1.0
  summary: Review API documentation and return structured findings.
  license:
    name: MIT
    identifier: MIT
  description: |
    The DocuGuard API creates documentation-review jobs and returns their
    status. Findings are recommendations that require review by a technical
    writer before publication.
servers:
  - url: https://api.docuguard.dev/v1
    description: Fictional production server used for this portfolio project
security:
  - ApiKeyAuth: []
tags:
  - name: Reviews
    description: Create and retrieve documentation-review jobs.
paths:
  /reviews:
    post:
      tags:
        - Reviews
      operationId: createReview
      summary: Create a review job
      description: Submits API-documentation content for selected quality checks.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequest'
            examples:
              endpointDescription:
                $ref: '#/components/examples/CreateReviewRequestExample'
      responses:
        '202':
          description: The review job was accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewJob'
              examples:
                queuedReview:
                  $ref: '#/components/examples/QueuedReviewExample'
        '400':
          description: The request body is invalid.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                validationError:
                  $ref: '#/components/examples/ValidationErrorExample'
        '401':
          description: The API key is missing or invalid.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authenticationError:
                  $ref: '#/components/examples/AuthenticationErrorExample'
  /reviews/{reviewId}:
    get:
      tags:
        - Reviews
      operationId: getReview
      summary: Get a review job
      description: Returns the status and available results for a review job.
      parameters:
        - $ref: '#/components/parameters/ReviewId'
      responses:
        '200':
          description: The review job was found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewJob'
              examples:
                completedReview:
                  $ref: '#/components/examples/CompletedReviewExample'
        '401':
          description: The API key is missing or invalid.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                authenticationError:
                  $ref: '#/components/examples/AuthenticationErrorExample'
        '404':
          description: No review job exists for the supplied ID.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                reviewNotFound:
                  $ref: '#/components/examples/ReviewNotFoundExample'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key used to authenticate a request.
  parameters:
    ReviewId:
      name: reviewId
      in: path
      required: true
      description: Unique ID of the review job.
      schema:
        type: string
        pattern: '^rev_[A-Za-z0-9]+$'
      example: rev_01J8Z7K3F2ACM9P4T6QX
  schemas:
    CreateReviewRequest:
      type: object
      additionalProperties: false
      required:
        - content
        - contentType
        - checks
      properties:
        content:
          type: string
          minLength: 20
          description: API-documentation text to review.
        contentType:
          type: string
          description: Kind of documentation submitted for review.
          enum:
            - endpoint-description
            - tutorial
            - error-message
        checks:
          type: array
          minItems: 1
          uniqueItems: true
          description: Quality checks to perform.
          items:
            type: string
            enum:
              - clarity
              - terminology
              - examples
              - completeness
    ReviewJob:
      type: object
      additionalProperties: false
      required:
        - id
        - status
        - createdAt
      properties:
        id:
          type: string
          description: Unique ID of the review job.
        status:
          type: string
          description: Current processing state of the review job.
          enum:
            - queued
            - processing
            - completed
            - failed
        createdAt:
          type: string
          format: date-time
          description: Date and time when the review job was created.
        completedAt:
          type: string
          format: date-time
          description: Date and time when processing finished.
        findings:
          type: array
          description: Recommendations available when the review is completed.
          items:
            $ref: '#/components/schemas/Finding'
    Finding:
      type: object
      additionalProperties: false
      required:
        - id
        - check
        - severity
        - message
        - suggestion
        - requiresHumanReview
      properties:
        id:
          type: string
          description: Unique ID of the finding within the review job.
          pattern: '^find_[A-Za-z0-9]+$'
        check:
          type: string
          description: Quality check that produced the finding.
          enum:
            - clarity
            - terminology
            - examples
            - completeness
        severity:
          type: string
          description: Suggested priority of the finding.
          enum:
            - low
            - medium
            - high
        message:
          type: string
          description: Explanation of the documentation issue.
        suggestion:
          type: string
          description: Proposed revision for a technical writer to evaluate.
        requiresHumanReview:
          type: boolean
          const: true
          description: Indicates that the recommendation requires human review.
    Error:
      type: object
      additionalProperties: false
      required:
        - type
        - title
        - status
        - detail
        - requestId
      properties:
        type:
          type: string
          format: uri
          description: URI that identifies the problem type.
        title:
          type: string
          description: Short summary of the problem.
        status:
          type: integer
          description: HTTP status code.
        detail:
          type: string
          description: Explanation specific to this request.
        requestId:
          type: string
          description: ID used to trace the request when contacting support.
  examples:
    CreateReviewRequestExample:
      summary: Review an unclear endpoint description
      value:
        content: The endpoint gets user stuff and returns it.
        contentType: endpoint-description
        checks:
          - clarity
          - terminology
          - examples
    QueuedReviewExample:
      summary: Newly queued review job
      value:
        id: rev_01J8Z7K3F2ACM9P4T6QX
        status: queued
        createdAt: '2026-08-11T08:00:00Z'
    CompletedReviewExample:
      summary: Completed review with structured findings
      value:
        id: rev_01J8Z7K3F2ACM9P4T6QX
        status: completed
        createdAt: '2026-08-11T08:00:00Z'
        completedAt: '2026-08-11T08:00:03Z'
        findings:
          - id: find_01J8Z8AC4G7N2M5Q9R3B
            check: clarity
            severity: high
            message: The phrase "user stuff" does not identify the resource.
            suggestion: Name the resource returned by the endpoint.
            requiresHumanReview: true
          - id: find_01J8Z8B91KD6P4W2F7HX
            check: examples
            severity: medium
            message: The description does not refer to a response example.
            suggestion: Add a representative success response example.
            requiresHumanReview: true
    ValidationErrorExample:
      summary: Request content is too short
      value:
        type: https://api.docuguard.dev/problems/validation-error
        title: Request validation failed
        status: 400
        detail: The content field must contain at least 20 characters.
        requestId: req_01J8Z7MMNV4Q2E6H7K9A
    AuthenticationErrorExample:
      summary: API key is missing
      value:
        type: https://api.docuguard.dev/problems/authentication-error
        title: Authentication failed
        status: 401
        detail: Provide a valid API key in the X-API-Key header.
        requestId: req_01J8Z9F0CE2W6M3T7N4K
    ReviewNotFoundExample:
      summary: Review job does not exist
      value:
        type: https://api.docuguard.dev/problems/review-not-found
        title: Review job not found
        status: 404
        detail: No review job exists with ID rev_NOTFOUND.
        requestId: req_01J8ZA2K9M5V3C7Q4H6R
